{{define "form/streamTCP"}}
<!-- tcp type -->
<a-form layout="inline">
    <a-form-item label="TCP accept proxy protocol">
        <a-switch v-model="inbound.stream.tcp.acceptProxyProtocol"></a-switch>
    </a-form-item>
    <a-form-item label="http">
        <a-switch :checked="inbound.stream.tcp.type === 'http'"
            @change="checked => inbound.stream.tcp.type = checked ? 'http' : 'none'">
        </a-switch>
    </a-form-item>
</a-form>

<!-- tcp request -->
<a-form v-if="inbound.stream.tcp.type === 'http'" layout="inline">
    <a-form-item label="Request version">
        <a-input v-model.trim="inbound.stream.tcp.request.version"></a-input>
    </a-form-item>
    <a-form-item label="Request method">
        <a-input v-model.trim="inbound.stream.tcp.request.method"></a-input>
    </a-form-item>
    <a-form-item label="Request path">
        <a-row v-for="(path, index) in inbound.stream.tcp.request.path">
            <a-input v-model.trim="inbound.stream.tcp.request.path[index]"></a-input>
        </a-row>
    </a-form-item>
    <a-form-item label="Request header">
        <a-row>
            <a-button size="small" @click="inbound.stream.tcp.request.addHeader('Host', 'xxx.com')">
                +
            </a-button>
        </a-row>
        <a-input-group v-for="(header, index) in inbound.stream.tcp.request.headers">
            <a-input style="width: 50%" v-model.trim="header.name" addon-before="name"></a-input>
            <a-input style="width: 50%" v-model.trim="header.value" addon-before="value">
                <template slot="addonAfter">
                    <a-button size="small" @click="inbound.stream.tcp.request.removeHeader(index)">
                        -
                    </a-button>
                </template>
            </a-input>
        </a-input-group>
    </a-form-item>
</a-form>

{{end}}