{{define "form/inbound"}}
<!-- base -->
<a-form layout="inline">
    <a-form-item label='{{ i18n "remark" }}'>
        <a-input v-model.trim="dbInbound.remark"></a-input>
    </a-form-item>
    <a-form-item label='{{ i18n "enable" }}'>
        <a-switch v-model="dbInbound.enable"></a-switch>
    </a-form-item>
    <a-form-item label='{{ i18n "protocol" }}'>
        <a-select v-model="inbound.protocol" style="width: 160px;">
            <a-select-option v-for="p in Protocols" :key="p" :value="p">[[ p ]]</a-select-option>
        </a-select>
    </a-form-item>
    <a-form-item>
        <span slot="label">
            monitor IP
            <a-tooltip>
                <template slot="title">
                    Leave blank by default
                </template>
                <a-icon type="question-circle" theme="filled"></a-icon>
            </a-tooltip>
        </span>
        <a-input v-model.trim="inbound.listen"></a-input>
    </a-form-item>
    <a-form-item label="Port">
        <a-input type="number" v-model.number="inbound.port"></a-input>
    </a-form-item>
    <a-form-item>
        <span slot="label">
            Total traffic (GB)
            <a-tooltip>
                <template slot="title">
                    0 (no limit)
                </template>
                <a-icon type="question-circle" theme="filled"></a-icon>
            </a-tooltip>
        </span>
        <a-input-number v-model="dbInbound.totalGB" :min="0"></a-input-number>
    </a-form-item>
    <a-form-item>
        <span slot="label">
            Expire date
            <a-tooltip>
                <template slot="title">
                    Leave blank to never expire
                </template>
                <a-icon type="question-circle" theme="filled"></a-icon>
            </a-tooltip>
        </span>
        <a-date-picker :show-time="{ format: 'HH:mm' }" format="YYYY-MM-DD HH:mm" v-model="dbInbound._expiryTime"
            style="width: 300px;"></a-date-picker>
    </a-form-item>
</a-form>

<!-- vmess settings -->
<template v-if="inbound.protocol === Protocols.VMESS">
    {{template "form/vmess"}}
</template>

<!-- socks -->
<template v-if="inbound.protocol === Protocols.SOCKS">
    {{template "form/socks"}}
</template>

<!-- http -->
<template v-if="inbound.protocol === Protocols.HTTP">
    {{template "form/http"}}
</template>

<!-- stream settings -->
<template v-if="inbound.canEnableStream()">
    {{template "form/streamSettings"}}
</template>

<!-- tls settings -->
<template v-if="inbound.canEnableTls()">
    {{template "form/tlsSettings"}}
</template>

<!-- sniffing -->
<template v-if="inbound.canSniffing()">
</template>
{{end}}